@import './reset.css';
@import './layout.css';
@import './ui.css';
@import './text.css';

body {
  background-color: #f3f3f2;
}

body,
html {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  --color-dark-blue: #0f1f38;
  --color-orange: #f55449;
  --color-red: #e74170;
  --color-ocean: #357082;
  --color-ocean-light: #afd4e0;
  --color-brown: #8e7970;
  --color-placeholder: #d3d3d3;
}

main {
  height: max-content;
  flex: 1 1 auto;
  position: relative;
}
