@import './reset.css';
@import './layout.css';

body {
  background-color: #f3f3f2;
}

body,
html {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  height: max-content;
  flex: 1 1 auto;
  position: relative;
}
