.list-pokemon {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.list-pokemon__title {
  margin-top: 16px;
  margin-bottom: 12px;

  font:
    500 24px/120% 'Segoe UI',
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
  text-align: center;
}

.button {
  height: 30px;
  padding: 8px;
  font:
    400 16px/100% 'Segoe UI',
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;

  background-color: #fff;
  border: 1px solid #000;
  border-radius: 6px;
}

.button-error {
  padding: 8px;
  font:
    400 16px/100% 'Segoe UI',
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;

  background-color: var(--color-orange);
  color: #fff;
  border-radius: 6px;

  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;

  transition: background 0.3s ease-in-out;
}

.button-error:hover {
  background-color: #e86e68;
}

.spinner {
  width: 40px;
  height: 40px;
  display: block;

  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.menu {
  display: flex;
  gap: 12px;
}

.menu__item {
  height: 32px;
  font:
    400 21px/100% 'Segoe UI',
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
  color: #000;
  border-bottom: 2px solid transparent;
}

.menu__item-active,
.menu__item:hover {
  border-bottom-color: var(--color-dark-blue);
}

.menu__item:active {
  border-bottom-color: var(--color-ocean);
}

.footer {
  height: 60px;
  margin-top: 32px;
  border-top: 1px solid var(--color-placeholder);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__text {
  color: var(--color-placeholder);
  text-align: center;
}
