.input__age input {
  width: 45px;
  border: 1px solid #000;
}

.input__country input {
  border: 1px solid #000;
}

.input__button {
  min-width: 120px;
  padding: 6px 8px;

  border-radius: 12px;

  font:
    400 16px/120% 'Trebuchet MS',
    'Lucida Sans Unicode',
    'Lucida Grande',
    'Lucida Sans',
    Arial,
    sans-serif;

  background-color: #000;
}

.app__img {
  width: 120px;
  height: 120px;
}

.table {
  background-color: #fff;
  border: 1px solid var(--color-placeholder);
}

.table th,
td {
  padding: 8px;
  border: 1px solid var(--color-placeholder);
}

.table__title {
  color: var(--color-dark-blue);
  font: 600 21px/120% 'Segoe UI';
}

.table__head {
  font: 500 18px/120% 'Segoe UI';
}

.table__container {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 32px;
}
