.modal {
  min-width: 300px;
  min-height: 30px;

  width: max-content;
  height: max-content;

  padding: 8px 12px;
  border-radius: 16px;

  position: fixed;
  bottom: 10px;
  left: 10px;

  background-color: var(--color-bg);
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
