.container {
  position: relative;
}

.card {
  width: 300px;
  padding: 8px;

  border: 1px solid var(--color-dark-blue);
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;

  display: flex;
  align-items: center;
  gap: 9px;

  background-color: #fff;
  cursor: pointer;

  transition:
    background,
    color 0.15s ease-in-out;
}

.card p {
  color: var(--color-red);
  opacity: 0;
}

.card:hover {
  background-color: transparent;
}

.card.active {
  background-color: var(--color-dark-blue);
  color: #fff;
}

.card.active p {
  opacity: 1;
}

.icon {
  width: 25px;
  position: absolute;

  left: -32px;
  bottom: 5px;
}
