.container {
  width: max-content;
  height: max-content;

  max-width: 600px;
  padding: 10px 20px;

  border-radius: 12px;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: #fff;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.form {
  margin: 20px 0;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.row {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 12px;
}

.input {
  padding: 6px 0;
  border-bottom: 1px solid #000;
}

.input.error {
  border-bottom-color: var(--color-red);
}

.input.error input::placeholder {
  color: var(--color-red);
}

.gender {
  display: flex;
  align-items: center;
  gap: 4px;
}

.country {
  width: 140px;
}

.inputImg {
  border: 1px solid #000;
}
